<a href="https://colab.research.google.com/github/asiaafridi2003-ship-it/student/blob/main/SCD_LAB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#list
list1 = [4270, "asya", "SE", "A"]
print(list1)
print(list1[1])
print(list1[2])
print(list1[-3])
print(list1[::-1])
print(list1[1:3])
print(list1[3:3])
print(list1[0:0])
print(list1[1:2])
print(list1[-2])
print(list1[:1])
print(list1[3:])

list1.insert(3,"computer")
print(list1)

list1.append(2)     #append means to add something in the end
print(list1)

print(len(list1))     #len is to find length of list

list1.pop(2)
print(list1)
list1.remove("asya")
print(list1)

#list1.clear()
#print(list1)
list1.reverse()
print(list1)

#del list1
#print(list)

[4270, 'asya', 'SE', 'A']
asya
SE
asya
['A', 'SE', 'asya', 4270]
['asya', 'SE']
[]
[]
['asya']
SE
[4270]
['A']
[4270, 'asya', 'SE', 'computer', 'A']
[4270, 'asya', 'SE', 'computer', 'A', 2]
6
[4270, 'asya', 'computer', 'A', 2]
[4270, 'computer', 'A', 2]
[2, 'A', 'computer', 4270]

In [ ]:
listx = [67, 34, 1, 89]
listx.sort()
print(listx)

list3 = ["a","b","j","i","A","S","D"]
print(list3)
list3.sort()
print(list3)

list4 = ["a", "asya", 78, ["ali", 56, "SE"], ["AI", 2.2, 90]]
print(list4[3])
print(list4[4])
print(list4[4][1])
print(list4[:4])
print(list4[3], list4[4])


listd = ["ali", "asya", "jay", "maknoon"]
print

[1, 34, 67, 89]
['a', 'b', 'j', 'i', 'A', 'S', 'D']
['A', 'D', 'S', 'a', 'b', 'i', 'j']
['ali', 56, 'SE']
['AI', 2.2, 90]
2.2
['a', 'asya', 78, ['ali', 56, 'SE']]
['ali', 56, 'SE'] ['AI', 2.2, 90]

In [ ]:
#tuples
tuples=(7,2,"asya","SE")
list1=list(tuples)
list1.insert(3,"computer")
tuples=tuple(list1)
print(tuples)
tuples1=(4,6,5,"asma",[2,23])
print(tuples1)
print(tuples1[4][1])
#tuple=(2)  this is not considered tuple

(7, 2, 'asya', 'computer', 'SE')
(4, 6, 5, 'asma', [2, 23])
23

In [ ]:
dic = {
    "std_id":1,
    "std_name":"asya",
    "section":"A",
    }
print(dic)
print(dic["std_name"])
print(dic.values())
print(dic.keys())

dic["section"]="A"
print(dic.values())
dic["department"]="SE"
print(dic)
dic.pop("std_id")
print(dic)
dic["subject"]=("AI","DS","SE")
print(dic)
dic["std_name"]="ali"
print(dic)

dic1={
    "name":"asma",
    "id":2,
    "section0":"B",
}
print(dic1)
dic.update(dic1)
print(dic)

{'std_id': 1, 'std_name': 'asya', 'section': 'A'}
asya
dict_values([1, 'asya', 'A'])
dict_keys(['std_id', 'std_name', 'section'])
dict_values([1, 'asya', 'A'])
{'std_id': 1, 'std_name': 'asya', 'section': 'A', 'department': 'SE'}
{'std_name': 'asya', 'section': 'A', 'department': 'SE'}
{'std_name': 'asya', 'section': 'A', 'department': 'SE', 'subject': ('AI', 'DS', 'SE')}
{'std_name': 'ali', 'section': 'A', 'department': 'SE', 'subject': ('AI', 'DS', 'SE')}
{'name': 'asma', 'id': 2, 'section0': 'B'}
{'std_name': 'ali', 'section': 'A', 'department': 'SE', 'subject': ('AI', 'DS', 'SE'), 'name': 'asma', 'id': 2, 'section0': 'B'}

In [ ]:
is_loggin:True
if is_loggin:
 print("welcome to dashboard")
else:
 print("invalid password")

welcome to dashboard

In [ ]:
#a=10
#b=4
#if a>b:
  #print("a is greater then b")

  #print("a")if a>b else:
if a%2==0:
  print("a is even")
else:
  print("a is odd")

a is even

In [ ]:
name= input("enter name:")
marks=int (input("enter marks:"))
if marks > 90:

  print("grade:A")
elif marks < 90:

  print("grade:B")
else:
  print("grade C")

enter name:asya
enter marks:99
grade:A

In [ ]:
#area of circle
print("Area of the circle: ")
radius = float(input("Enter the radius of the circle: "))

pi_value = 3.14159
area = pi_value * radius * radius
print("The radius is:", radius)
print("The area of the circle is:", area)

Area of the circle:
Enter the radius of the circle: 45
The radius is: 45.0
The area of the circle is: 6361.719749999999

In [ ]:
#a program to swap two numbers.
print(" Number Swapper")

a = input("Enter the first value (A): ")
b = input("Enter the second value (B): ")

print("Before swapping: A =", a, ", B =", b)
temp = a
a = b
b = temp
print("After swapping: A =", a, ", B =", b)

 Number Swapper
Enter the first value (A): 7
Enter the second value (B): 4
Before swapping: A = 7 , B = 4
After swapping: A = 4 , B = 7

In [ ]:
#celsius to fahrenheit converter
print(" Celsius to Fahrenheit Converter")
celsius = float(input("Enter temperature in Celsius: "))

fahrenheit = (celsius * 9/5) + 32

print("The temperature in Fahrenheit is:", fahrenheit)

 Celsius to Fahrenheit Converter
Enter temperature in Celsius: 23
The temperature in Fahrenheit is: 73.4

In [ ]:
#list of mixed datatypes
print(" Create a List of Mixed Data Types")

mixed_list = [42, "Apple", 3.14, 100, True]

print("The list is:", mixed_list)
print("The length of the list is:", len(mixed_list))

 Create a List of Mixed Data Types
The list is: [42, 'Apple', 3.14, 100, True]
The length of the list is: 5

In [ ]:
#a program to take 5 names from the user and store them in a list.
print("Take 5 Names from User and Store in a List")
name_list = []

name1 = input("Enter name 1: ")
name_list.append(name1)
name2 = input("Enter name 2: ")
name_list.append(name2)
name3 = input("Enter name 3: ")
name_list.append(name3)
name4 = input("Enter name 4: ")
name_list.append(name4)
name5 = input("Enter name 5: ")
name_list.append(name5)

print("List of names created:", name_list)

Take 5 Names from User and Store in a List
Enter name 1: asya
Enter name 2: maknoon
Enter name 3: jay
Enter name 4: laveza
Enter name 5: asma
List of names created: ['asya', 'maknoon', 'jay', 'laveza', 'asma']

In [ ]:
#FOR LOOP:
table=int(input("table"))
for i in range(1,11):
 print(table,"*",i,"=",table*i)



list1=[4,6,2,"section A","SE"]

for i in list1:
 print(list1)

table16
16 * 1 = 16
16 * 2 = 32
16 * 3 = 48
16 * 4 = 64
16 * 5 = 80
16 * 6 = 96
16 * 7 = 112
16 * 8 = 128
16 * 9 = 144
16 * 10 = 160
[4, 6, 2, 'section A', 'SE']
[4, 6, 2, 'section A', 'SE']
[4, 6, 2, 'section A', 'SE']
[4, 6, 2, 'section A', 'SE']
[4, 6, 2, 'section A', 'SE']

In [ ]:
#WHILE LOOP
i=0
while i<10:
  print(i)
  i+=2



while True:
  """
  1.language
  2.payment chech
  3.end
  """
  user_input=int(input("value"))
  if user_input==1:
   print("language")
  elif user_input==2:
   print("payment check")
  elif user_input==3:
    break
  else:
      print("invalid")

0
2
4
6
8
value1
language
value2
payment check
value5
invalid
value6
invalid
value3

In [ ]:
CORRECT_PASSWORD = "secret"

while True:
    user_input = input("Enter the password: ")

    if user_input == CORRECT_PASSWORD:
        print("Access granted! Welcome.")
        break
    else:
        print("Incorrect password. Please try again.")

TypeError: 'int' object is not callable

In [ ]:
vowels="aeiouAEIOU"
user_input=input()
count=0
for i in user_input:
  if i in vowels:
    count=count+1
    print(i)

print(count)

asia
a
i
a
3

In [ ]:
while True:
  user_input=input()
  if user_input=="stop":
    break

65783
yuru
hevbk
asia
asma
vjbk
stop

In [ ]:
user_input=int(input())
if user_input==0:
  print("this number is zero")
if user_input<0:
 print("this number is negative")
if user_input>0:
 print("this number is positive")

-3
this number is negative

In [ ]:
total_str = input("Enter the total amount: ")
total = float(total_str)
discount_rate = 0.0
discount_amount = 0.0


if total >= 500:
    discount_rate = 0.20

elif total >= 200:
    discount_rate = 0.10
else:
    discount_rate = 0.00
discount_amount = total * discount_rate
final_price = total - discount_amount


print("\n--- Discount Summary ---")
print(f"Original Total: ${total:.2f}")
print(f"Discount Rate: {discount_rate * 100:.0f}%")
print(f"Discount Amount: ${discount_amount:.2f}")
print(f"Final Price: ${final_price:.2f}")

Enter the total amount: 65

--- Discount Summary ---
Original Total: $65.00
Discount Rate: 0%
Discount Amount: $0.00
Final Price: $65.00

In [ ]:
num1, num2, num3 = map(int, input("Enter three numbers separated by spaces: ").split())
if num1 >= num2 and num1 >= num3:
    largest = num1
elif num2 >= num1 and num2 >= num3:
    largest = num2
else:
    largest = num3
print("The largest number is:", largest)

Enter three numbers separated by spaces: 1 3 56
The largest number is: 56

In [ ]:
correct_username="asya"
correct_password="aso123"
user_input1=input("enter your user name")
user_input2=input("enter your password")
if user_input1==correct_username and user_input2==correct_password:
 print("login")
else:
  print("invalid username and password ")

enter your user nameasya
enter your passwordaso123
login

In [ ]:
password = input("Enter a password to check its strength: ")
password_length = len(password)
if password_length < 6:
    print("Password Length:", password_length)
    print("Strength: Weak")

elif password_length < 10:
    print("Password Length:", password_length)
    print("Strength: Medium")

else:
    print("Password Length:", password_length)
    print("Strength: Strong")

Enter a password to check its strength: cecos123
Password Length: 8
Strength: Medium

In [ ]:
SPEED_LIMIT_NO_FINE = 70
SPEED_LIMIT_SMALL_FINE = 90
speed = int(input("Enter the vehicle speed: "))
if speed <= SPEED_LIMIT_NO_FINE:

    fine_category = "No fine"
elif speed <= SPEED_LIMIT_SMALL_FINE:
   fine_category = "Small fine"
else:
  fine_category = "Heavy fine"


print(f"\nSpeed Entered: {speed}")
print(f"Result: {fine_category}")

Enter the vehicle speed: 300

Speed Entered: 300
Result: Heavy fine

In [ ]:
total = float(input("Enter the total purchase amount: "))

discount_rate = 0.0

if total >= 1000:
    discount_rate = 0.20
    print(f"\nApplied 20% Discount (Total >= 1000)")

elif total >= 500:
    discount_rate = 0.10
    print(f"\nApplied 10% Discount (Total >= 500)")

else:
    discount_rate = 0.00
    print(f"\nNo Discount Applied (Total < 500)")

discount_amount = total * discount_rate
final_price = total - discount_amount

print(f"Original Total: ${total:.2f}")
print(f"Discount Amount: ${discount_amount:.2f}")
print(f"Final Price: ${final_price:.2f}")

Enter the total purchase amount: 10090

Applied 20% Discount (Total >= 1000)
Original Total: $10090.00
Discount Amount: $2018.00
Final Price: $8072.00

In [ ]:
TEMP_PLEASANT_MAX = 28
TEMP_PLEASANT_MIN = 20
HUMIDITY_PLEASANT_MAX = 60
WIND_PLEASANT_MAX = 15

temp = float(input("Enter temperature (in Celsius): "))
humidity = float(input("Enter humidity (in %): "))
wind = float(input("Enter wind speed (in kph): "))

if (temp >= TEMP_PLEASANT_MIN and temp <= TEMP_PLEASANT_MAX) and \
   (humidity < HUMIDITY_PLEASANT_MAX) and \
   (wind < WIND_PLEASANT_MAX):

    classification = "Pleasant"

elif (temp > 35 or temp < 5) or \
     (humidity > 85) or \
     (wind > 35):

    classification = "Harsh"

else:
    classification = "Normal"

print("\n--- Weather Classification ---")
print(f"Temperature: {temp}°C, Humidity: {humidity}%, Wind: {wind} kph")
print(f"Classification: {classification}")

Enter temperature (in Celsius): 43
Enter humidity (in %): 1.2
Enter wind speed (in kph): 2.3

--- Weather Classification ---
Temperature: 43.0°C, Humidity: 1.2%, Wind: 2.3 kph
Classification: Harsh

In [ ]:
#square of numbers


for number in range(1, 6):
    square = number ** 2
    print(f"The square of {number} is {square}")

The square of 1 is 1
The square of 2 is 4
The square of 3 is 9
The square of 4 is 16
The square of 5 is 25

In [ ]:
list= [100,2,46,68,90,56,43,21]
for i in list:
 if i>50:
  print(i)

100
68
90
56

In [ ]:
table=int(input("table"))
for i in range(1,11):
 print(table,"*",i,"=",table*i)

TypeError: 'int' object is not callable

In [ ]:
i=0
while i<20:
  if i%2!=0:
   print(i)
  i+=1

1
3
5
7
9
11
13
15
17
19

In [ ]:
def calculate_sum_pythonic(n):
  return sum(range(1, n + 1))
n_value = 10
result = calculate_sum_pythonic(n_value)
print(f"The sum of numbers from 1 to {n_value} is: {result}")

TypeError: 'int' object is not callable

In [ ]:
list=["ASYA","SOFTWARE ENGINEER","STUDENT",4270]
print(list)

['ASYA', 'SOFTWARE ENGINEER', 'STUDENT', 4270]

In [ ]:
count = 0
total = 0

while True:
    num = int(input("Enter a number: "))

    if num <= 0:
        break # Exit the loop when a negative number is entered

    total += num
    count += 1

# Check if any non-negative numbers were entered before calculating the average
if count > 0:
    average = total / count
    print(f"The average of the {count} numbers is: {average:.2f}")
else:
    print("No non-negative numbers were entered.")

TypeError: 'int' object is not callable

In [ ]:
def is_palindrome(n):
    original_n = n
    reversed_n = 0
    if n < 0:
        return False
    while n > 0:
        digit = n % 10
        reversed_n = (reversed_n * 10) + digit
        n = n // 10
    return original_n == reversed_n
print(f"Is 121 a palindrome? {is_palindrome(121)}")
print(f"Is 1234 a palindrome? {is_palindrome(1234)}")
print(f"Is 5005 a palindrome? {is_palindrome(5005)}")

Is 121 a palindrome? True
Is 1234 a palindrome? False
Is 5005 a palindrome? True

In [ ]:
def student():
  name = input()
  father_name=input()
  print(name, father_name)



student()

asya
abdul hakeem
asya abdul hakeem

In [ ]:
def countdown(n):
  if n<=0:
    print("end")
  else:
    print(n)
    countdown(n-1)

countdown(20)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
end

In [ ]:
def fact(n):
  if n==0 or n==1:
    return 1
  else:
    return n*fact(n-1)

fact(7)

5040

In [ ]:

def temp():
  temp_celsius=input()
  if temp_celsius < 10:
    print("cold")
  elif temp_celsius > 10 and temp_celsius < 25:
    print("warm")
  else:
    print("hot")

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:
def cal():
    v1=int(input("enter the value of v1: "))
    v2=int(input("enter the value of v2: "))

    sum=v1+v2
    print("sum of two numbers is",sum)
    diff=v1-v2
    print("diff of two numbers is", diff)
    mult=v1*v2
    print("mult of two numbers is", mult)

cal()

In [ ]:
x=5
print("x")

x